<div class="row mt-5">

    <div class="col-3 p-2 container" *ngFor="let item of heros">
        <div [ngClass]="{'card p-1': true , 'bg-success': item.power>100,'bg-danger': item.power<100 && item.power>50}">
            <div class="card-image ">
                <img class="box" [src]="'http://127.0.0.1:3000/getimage/'+ item.image" alt="">
            </div>

            <div class="card-body text-center">
                <h2>{{item.name}}</h2>
                <p>{{item.power}}</p>
                <div class="d-flex justify-content-around mt-4">
                    <button class="btn btn-danger" (click)="deleteHero(item._id)">delete</button>
                    <button [routerLink]="['/update', item._id]" class="btn btn-info">edite </button>
                </div>
            </div>
        </div>
    </div>

</div>